@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../Inter/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../Inter/Inter-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}


body {
    background-color: #0f0f0f;
    overflow: hidden;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Read up on CSS classes to figure out the most efficient way of organizing*/


.convo-block {
  position: relative;
  display: block;
  width: 60ch;
  font-family: "Inter";
  font-size: 0.75vw;
  color: white;
  line-height: 1vw;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
  cursor: pointer;
}

.convo-block.home{
  width: 40ch;
  border-color:rgba(255, 255, 255, 0.4);
}

.convo-block.right{
  align-self: flex-end;
  text-align: right;
}


.convo-block:hover {
  border-color: white;
}

.inner-text {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  padding: 0.5vw 0.75vw;
  border-width: 1px;
  border-color: transparent;
}

.inner-text.height-set {
  position: relative;
  align-self: auto;
  color: transparent;
}

.user2 {
  font-style: italic;
}


/*_____________________________________________________*/
.convo-text {
  width: 60ch; /* Make sure this value matches maxLineLength in js file */
  align-self: flex-start;
  font-size: 0.75vw;
  line-height: 1.25vw;
}

.convo-text.user1 {
  font-family: "Inter";
  font-style: normal;
}
.user2 {
  font-family: "Inter";
  font-style: italic;
}

.convo-text.hero {
  width: 40ch;
  align-self: flex-start
}

.clicked {
    color: green !important;
}

/*_______________________________________________*/  
  
.container {
  position: absolute;
  /* width: 100vw; */
  width: 85vw;
  /* height: calc((9/16)*100vw); */
  height: calc((9/16)*85vw);
  max-height: 85vh;
  max-width: calc((16/9)*85vh);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  padding: 50px;
  transform: translate(-50%, -50%);
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border-width: 0px;
  /*background: white;*/
}

.frame.current{
  border-width: 1px !important;
}

.frame.home-text{
  justify-content: space-between;
  z-index: 1;
}

.frame.pics{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.heropic {
  opacity: 0.8;
  height: 67.5%;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: transparent;
  padding: 1.25%;
  transition: opacity 400ms ease,
              transform 300ms ease;
}

.convopic {
  height: 40%;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1.25%;
  cursor: pointer;
  transition: opacity 400ms ease,
              transform 300ms ease;
}

.convopic.large {
  height: 75%;
}

.content {
  /* Add in 100% height
     Move object fit here */
  height: 100%;
  object-fit: fill;
}

.convopic > .content {
  opacity: 0;
  transition: opacity 400ms ease;
}

.inactive {
  opacity: 0.2;
  border-color: transparent !important;
}

.active {
  opacity: 0.8;
}

.heropic.inactive{
  opacity: 0.15;
}

.heropic.unfocused{
  opacity: 0.075;
}

.heropic.disabled{
  opacity: 0.025;
}


