body{
    background-color: black;
}

p {
    color: white;
}

.user1 {
    color: rgb(161, 203, 255) !important;

}

.user2 {
    color: rgb(180, 180, 31) !important;
}

.clicked {
    color: green !important;
}